include mixin.jade
+encabezado()
+triangulo()

section.back

    section.container
      section.row
        section.col.s12
          div.col.s6
            h3 We Are Creative Nerds
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.up SIGN UP
          div.backmon
            div.container.home
              img(src="img/home/slider/house.png")
