include mixin.jade
+encabezado()
+triangulo()

section.aboutus
  section.container
    section.row
      h4 About us
      h6 Why our Clients love to work with us.
section.container
  section.row
    section
      div.col.s7
        img(src="img/1.png" alt="1")
      div.col.s5.paragraph
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
section.container
  section.row
    section.col.s4
      div
        img(src="img/icon1.png" alt="icon1")
      div
        h5 Incredibly Responsive
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    section.col.s4
      div
        img(src="img/icon2.png" alt="icon2")
      div
        h5 Incredibly Responsive
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    section.col.s4
      div
        img(src="img/icon3.png" alt="icon3")
      div
        h5 Incredibly Responsive
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
section.aboutus.col.s12
  section.container
    section.row
      div.col.s5
        h4 Triangle Corporate Template
        h6 A responsive, retina-ready & wide multipurpose template.
      div.col.s7
        button TAKE THE TOUR
        img(src="img/tour-icon2.png" alt="tour-icon2")
section.container
  section.row
    section.center-align
      h4 Meet the Team
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit
section.container
  section.row
    section.col.s12
      div.col.s3
        img.col.s12(src="img/4.jpg" alt="4")
        h6 John Doe
        p CEO & Developer
      div.col.s3
        img.col.s12(src="img/3.jpg" alt="3")
        h6 John Doe
        p CEO & Developer
      div.col.s3
        img.col.s12(src="img/4.jpg" alt="4")
        h6 John Doe
        p CEO & Developer
      div.col.s3
        img.col.s12(src="img/1.jpg" alt="1")
        h6 John Doe
        p CEO & Developer
+footer()
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
