doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Ejercicio Triángulos
    link(rel="stylesheet",href="css/style.css")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
  body
    section.container
      section.row
        section.col.s12
          div.col.s6
            img.responsive-image(src="img/logo.png")
          div.col.s6
          ul.valign-wrapper.offset-s1
            li
              a HOME
            li
              a PAGES
            li
              a BLOG
            li
              a PORTFOLIO
            li
              a SHORTCODES
    section.container
      section.row
        section.aboutus
          h3 About us
          h6 Why our Clients love to work with us.
    section.container
      section.row
        section
          div.col.s7
            img(src="img/1.png")
          div.col.s5.paragraph
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
