include mixin.jade
+encabezado()
+triangulo()

section.aboutus
  section.container
    section.row
      h4 Portfolio
      h6 Be Creative
section.container
  section.row
    section.col.s12.offset-s3
      ul.valign-wrapper
        li
          img(src="img/portfolio/icon.png")
        li All
        li Branded
        li Design
        li Folio
        li Logos
        li Mobile
        li Mockup
section.container
  section.row
    section.col.s12
      img.col.s3(src="img/portfolio/1.jpg")
      img.col.s3(src="img/portfolio/2.jpg")
      img.col.s3(src="img/portfolio/3.jpg")
      img.col.s3(src="img/portfolio/4.jpg")
section.container
  section.row
    section.col.s12
      img.col.s3(src="img/portfolio/5.jpg")
      img.col.s3(src="img/portfolio/6.jpg")
      img.col.s3(src="img/portfolio/7.jpg")
      img.col.s3(src="img/portfolio/8.jpg")
section.container
  section.row
    section.col.s12
      img.col.s3(src="img/portfolio/9.jpg")
      img.col.s3(src="img/portfolio/10.jpg")
      img.col.s3(src="img/portfolio/11.jpg")
      img.col.s3(src="img/portfolio/12.jpg")
section.container
  section.row
    section.col.s12
      img.col.s3(src="img/portfolio/1.jpg")
      img.col.s3(src="img/portfolio/2.jpg")
      img.col.s3(src="img/portfolio/3.jpg")
      img.col.s3(src="img/portfolio/4.jpg")
section.container
  section.row
    section.col.s12.offset-s5
      ul.valign-wrapper
        li
          img(src="img/portfolio/left.png")
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
        li 7
        li 8
        li 9
        li
          img(src="img/portfolio/right.png")
+footer()
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
